*{
	margin:0px;
	padding: 0px;
}
body{
	font-family: "Microsoft YaHei";
	background: url(../Images/banner2.jpg) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.introduce{
	margin-left:500px;
	display: none;
}
p{
	font-family: "Microsoft YaHei";
	font-size: 40px;
	font-style: italic;
	color: #FFFFFF;
}
.xy{
	background:red;
	display: block;
}
.xy1{
	background-color: #FFFFFF;
	display: block;
}
.slidebox{
	width: 450px;
	height: 230px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ddd;
}
ul li{
	list-style: none;
	float: left;
	display: block;
	padding-right: 5px;
}
.slidebox .hd{
	height: 15px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}
.slidebox .bd{
	position: relative;
	height: 100px;
	z-index: 0;
}


